.content {
    position: relative;
    width: 90%;
    max-width: 40em;
    margin: 0 auto;
    margin-top: 25em;
}

.content h1 {
    margin-top: 3em;
    border-bottom: solid 2px currentColor;
}

.content h2 {
    margin-top: 1.5em;
    margin-left: 1em;
}

.content h3 {
    margin-left: 2em;
}

.content p {
    margin-left: 2em;
    text-indent: 1.875em;
}

.text {
    position: relative;
    width: 85%;
    margin-left: 25%;
}

.content-bar ul {
    padding: 0;
    margin: 0;
    color: #707070;
}

.content-bar li {
    padding: .5em;
    cursor: pointer;
}

.content-bar a {
    text-decoration: none;
    color: currentColor;
}

.content-bar li:hover {
    color: #333;
}

.content-bar-abs {
    position: absolute;
    top: 5em;
}

.content-bar-fix {
    position: fixed;
    top: 6em;
}